<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/modern-normalize@3.0.1/modern-normalize.css">
    <link rel="stylesheet" href="/estilos.css">
    <link rel="stylesheet" href="../static/estilos.css">
    <title>📚 letterbookd</title>
</head>

<body>
    <aside>
        <h1>📚 letterbookd</h1>
        <span>links rápidos</span>
        <a href="/">página inicial</a>
        <a href="/livros/adicionar">adicionar livro</a>
        <a href="/editar">modificar livro</a>
        <a href="/excluir">excluir livro</a>
        <a href="/lista">visualizar lista</a>
        <a href="/editar-lista">editar lista</a>
    </aside>
    <main>
        <form>
            <input type="text" placeholder="Título" name="titulo">
            <input type="text" placeholder="Autor" name="autor">
            <textarea title="Descrição" placeholder="Descrição" name="descricao"></textarea>
            <button type="submit">Adicionar</button>
        </form>
    </main>
</body>

</html>