<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/modern-normalize@3.0.1/modern-normalize.css">
    <link rel="stylesheet" href="/estilos.css">
    <link rel="stylesheet" href="../static/estilos.css">
    <title>📚 letterbookd</title>
</head>

<body>
    <aside>
        <h1>📚 letterbookd</h1>
        <span>links rápidos</span>
        <a href="/">página inicial</a>
        <a href="/livros/adicionar">adicionar livro</a>
        <a href="/lista">minha lista</a>
    </aside>
    <main>
        <section>
            <h2>Últimos livros lidos</h2>
            <ol>
                <li th:each="livro : ${livroslidos}">
                    <article>
                        <span id="titulo" th:text="${livro.titulo}" />, <span id="autor" th:text="${livro.autor}" />
                    </article>
                </li>
            </ol>
        </section>
        <section>
            <h2>Minha lista</h2>
            <ol>
                <li th:each="livro : ${livroslista}">
                    <article><span id="titulo" th:text="${livro.titulo}" />, <span id="autor"
                            th:text="${livro.autor}" /></article>
                </li>
            </ol>
        </section>
        <section>
            <h2>Últimos livros adicionados</h2>
            <ol>
                <li th:each="livro : ${livrosadicionados}">
                    <a th:href="@{'/livros/' + ${livro.id}}" class="livro">
                        <span id="titulo" th:text="${livro.titulo}" />, <span id="autor" th:text="${livro.autor}" />
                    </a>
                </li>
            </ol>
        </section>
    </main>
</body>

</html>